@font-face {
    font-family: "ComfortaaMedium";
    src: url(fonts/Comfortaa-Medium.ttf);
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ComfortaaMedium";
}

.navbar {
    width: 100%;
    height: 25%;
    background-color: #fffab7;
    display: flex;
    justify-content: space-between;
    border-bottom: black;
    border-style: groove;
} 

/* .navbar-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar p b {
    width: 25%;
    display: flex;
    margin: 10px 10px 10px 30px;
    text-shadow: #fafafa 5px 1px 4px;
    letter-spacing: 2px;
    font-size: 2em;
}

.navbar i {
    margin: 1px 1px 1px 10px;
} 

.navbar-ul {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar-ul ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px;
}

.navbar-ul ul li {
    font-size: 1.1rem;
    font-weight: 700;
    color: inherit;
}

.navbar-ul ul li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.5px;
} 

.navbar-ul ul li a:after {
    content: "";
    position: absolute;
    background: linear-gradient(95deg, rgba(0,0,0,1) 0%, rgba(0,67,50,1) 67%);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -15px;
    transition: 0.3s;
}
 
.navbar-ul ul li a:hover:after {
    width: 100%;
}
 
.navbar-ul ul li:hover{
    font-size: 1.3rem;
    cursor: pointer;
    color: #004332;
}
 
section {
    background-color: #ffe88b;
}
 
.cuerpo__logo {
    height: 50vh;
    width: 100vw;
    text-align: center;
    padding: 40px;
} 

.cuerpo__logo img {
    width: 50%;
    height: auto;    
}
 
.informacion__proyecto {
    text-align: left;
} 

.informacion__proyecto h2 b {
    padding: 5px 10px 0px 10px;
    display: flex;
}
 
.informacion__proyecto p {
    padding: 5px 10px 0px 10px;
}
 
.informacion__proyecto li {
    padding: 5px 10px 0px 10px;
}
 
.subcuerpo__descripcion {
    background-color: #ffb776;
    height: 50vh;
    width: 100vw;
}

.subcuerpo__descripcion h2 b {
    padding: 5px 10px 0px 10px;
}
 
.subcuerpo__descripcion p {
    padding: 5px 10px 0px 10px;
}

.subcuerpo__descripcion li {
    padding: 5px 10px 0px 10px;
}

.final__redes {
    display: flex;
}

.final__redes h3 b{
    display: inline-flex;
}

.final__redes p i {
    display: inline-flex;
}

.final__cuidado {
    display: flex;
    width: 45%;
}