@font-face {
    font-family: "ComfortaaMedium";
    src: url(fonts/Comfortaa-Medium.ttf);
} 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ComfortaaMedium";
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #fffab7;
    display: flex;
    justify-content: space-between;
    border-bottom: black;
    border-style: groove;
} 

/* .navbar-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.navbar p b {
    width: 25%;
    display: flex;
    margin: 10px 10px 10px 30px;
    text-shadow: #f5e553 5px 1px 4px;
    letter-spacing: 2px;
    font-size: 2em;
}

.navbar i {
    margin: 1px 1px 1px 10px;
} 

.navbar-ul {
   width: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar-ul ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
    margin: 10px;
}

.navbar-ul ul li {
    font-size: 1.1rem;
    font-weight: 700;
    color: inherit;
}

.navbar-ul ul li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.5px;
} 

.navbar-ul ul li a:after {
    content: "";
    position: absolute;
    background: linear-gradient(95deg, rgba(0,0,0,1) 0%, rgba(0,67,50,1) 67%);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -15px;
    transition: 0.3s;
}
 
.navbar-ul ul li a:hover:after {
    width: 100%;
}
 
.navbar-ul ul li:hover{
    font-size: 1.3rem;
    cursor: pointer;
    color: #004332;
}
 
section {
    height: 100vh;
    width: 100vw;
    background-color: #ffe88b;
}
 
.cuerpo__logo {
    padding: 40px;
    height: 70vh;
    width: 100vw;
    text-align: center; 
} 

.cuerpo__logo img {
    width: 45%;
    height: auto;   
}
 
.informacion__proyecto {
    text-align: center;
    height: 70vh;
    width: 100vw;
} 

.informacion__proyecto h2 b {
    text-align: center;
    padding: 5px 10px 0px 10px;
}
 
.informacion__proyecto p {
    padding: 5px 10px 0px 10px;
}
 
.informacion__proyecto li {
    padding: 5px 10px 0px 10px;
}
 
.subcuerpo__descripcion {
    background-color: #ffb776;
    position: absolute;
    width: 100vw;
    height: 60vh;
    padding-top: 30px;
    text-align: center;
}

.subcuerpo__descripcion h2 b {
    padding: 5px 10px 0px 10px;
}
 
.subcuerpo__descripcion p {
    padding: 5px 10px 0px 10px;
}

.subcuerpo__descripcion ul {
    padding-left: 10px;
}
.subcuerpo__descripcion li {
    padding: 5px 10px 0px 10px;
}

.subcuerpo__firma p {
    padding: 5px 10px 0px 10px;
}

.subcuerpo__firma--boton {
    -webkit-border-radius: 22;
    -moz-border-radius: 22;
    border-radius: 22px;
    color: #000000;
    font-size: 17px;
    background: #f5d142;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.subcuerpo__firma--boton:hover {
    background: #faae3c;
    text-decoration: none;
}

footer {
    background-color: #ff9c9c;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: static;
    align-items: flex-end;
}

.final__redes {
    text-align: left;
    padding-bottom: 80px;
    width: 30vw;
    height: auto;
    z-index: 1;
}

.final__redes h3 b {
    padding: 5px 10px 20px 10px;
}

.final__redes p a i{
    padding: 5px 10px 0px 10px;
}

.final__redes a {
    text-decoration: none;
    color: black;
}

.final__cuidado {
    text-align: left;
    width: 60vw;
    height: auto;
    z-index: 2;
    text-align: left;
    padding-bottom: 122px;
}

.final__cuidado h3 b {
    padding: 5px 10px 0px 10px;
}

.final__cuidado p i {
    padding: 5px 10px 0px 10px;
}